@import "./colors";

a {
    color: $money-green;
    text-decoration: none;
}

a:hover {
    color: $lime-green;
}

button {
    width: 100%;
    height: 50px;
    border: none;
    color: $white;
    background: $medium-dark-green;
    border-radius: .25rem;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background:$lime-green;
}

.button.new{
    display: inline-block;
    margin-bottom: .8rem;
}

.button.cancel {
    color: $money-expense;
    border: 1px solid $money-expense;
    border-radius: .25rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .6;
}

.button.cancel:hover {
    opacity: 1;
}