$dark-blue: #363f5f;
$white-gray: #f0f2f5;
$white: #fff;
$moss-green :#2D4A22;
$money-green: #49AA26;
$light-blue: #969cb3;
$money-income: #12a454;
$money-expense: #e92929;
$lime-green: #3dd705;
$medium-dark-green: #48995d;
$grey: #8c8c8c;