@import "./colors";

#form {
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#form h2 {
    margin-top: 0;
}

input {
    border: none;
    border-radius: 0.2rem;
    padding: .8rem;
    width: 100%;
}

.input-group {
    margin-top: .8rem;
}

.input-group small {
    opacity: .7;
}

.input-group.actions{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
    width: 48%;
}